<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
    <script>
        const ROOMID = "<%= roomID %>"
        const ORGID = "<%= orguserID %>"
        const ORGNAME = "<%= orguserNAME %>"
        const ROOMINFO = JSON.parse('<%- roomINFO -%>')
        let ORGROLE = "<%= orguserROLE %>"
        const ORGANON = "<%= orguserANON %>"
        const ORGTEAMID = "<%= orguserTEAMID %>"
        const WASALREADYHERE = ('<%- PEERIDSFORADMIN %>' !== 'false') ? JSON.parse('<%- PEERIDSFORADMIN %>') : false
    </script>
    <script src="../peerfile.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="../room_aesthesics.js" defer></script>
    <script src="../script.js" defer></script>
    <!-- <script src="https://kit.fontawesome.com/24b8a6b9d6.js" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="../styles/room_style.css">
    <% if (orguserROLE=='admin'){%>
        <script src="../admin.js" defer></script>
    <% } %>
</head>
<script type='text/javascript'>window.onbeforeunload = s => modified ? "" : null;</script>
<body>
    <!-- <audio src="../music/yt1s.com - Fire  Water mashup  The Score grandson Halsey Imagine Dragons.mp3" autoplay>
        <p>If you are reading this, it is because your browser does not support the audio element.</p>
    </audio>         -->
    <div class="notificationholder disappear">
        <div id="notifications" class="notification"></div>
    </div>
    <div class="header" id="header">
        <h1 id="room-topic"><%- roomINFO.topic %></h1>
        <button class="shownotification">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M224 0c-17.7 0-32 14.3-32 32V51.2C119 66 64 130.6 64 208v18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416H416c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8V208c0-77.4-55-142-128-156.8V32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z"/></svg>        
        </button>
        <!-- <a href="/"> -->
        <button id="leave" class="leave">Leave</button>
        <% if (orguserROLE=='admin'){%>
            <button id="leaveforall" class="leave">Leave for all</button>
        <% } %>
        <!-- </a> -->
    </div>
    <div id='timer' class='disappear' style="position: absolute">
        <span id="minutes">--</span>:<span id="seconds">--</span>
    </div>
    
    <section class="main-section">
        <div id="records" class="records"></div>

        <div class="container">

            <div class="participants disappear">
                <h4>Participants</h4>
                <ul id="p_list"></ul>
            </div>

            <div class="chat">
                <h4>Chat</h4>
                <div id='chat-space' class='chat-space'>
                    <div><small>As</small><p>Hello admin</p></div>
                </div>
                <div id="chatbox" class='chatbox'>
                    <form id="messageForm">
                        <select id="seleteduser">
                            <option value="">none</option>
                        </select>
                        <input type="text" id="message-box" autocomplete="none" max="50">
                        <input type="submit" value="send" id="sendbtn">
                    </form>
                </div>
            </div>
        <% if (orguserROLE=='admin'){%>
            <div class="speakers_arrangement">
                <h4>Speaker Arrangement</h4>
                <div id="schedule" class="schedule"></div>

                <div>
                    <select id="select_speaker">
                        <option value="" disabled>none</option>
                        <option value="break">Break</option>
                    </select>
                    <input type="number" id="tile_minutes" min="0" max="60" value="0.1">min
                    <button onclick="set_speakers_scheduling()">Make</button>
                </div>
                <button onclick="save_scheduling_list()">SAVE</button>
            </div>
            
            <div class="settings" style="display: none" >
                <h4>Settings</h4>
                <div class="set">
                    <div class="configs">
                        <h3>Topic</h3>
                        <input type="text" name="topic" id="topic" value="Military System of Government is better than civil system of Government" required>
                    </div>
                    <div class="configs">
                        <h3>Description</h3>
                        <textarea name="description" id="description" cols="30" rows="9" maxlength="250" placeholder="Room description....">This is a debate about how awesome Jesus has made Oluwatobi Taiwo</textarea>
                    </div>
                    <div class="configs">
                        <h3>Accesibility</h3>
                        <div>
                            <input type="radio" name="show_status" checked value="public" required>
                            <label for="show_status">public</label>
                        </div>
                        <div>
                            <input type="radio" name="show_status" value="private">
                            <label for="show_status">private</label>
                        </div>
                    </div>
                    <div class="configs">
                        <h3>Judging system</h3>
                        <div>
                            <input type="checkbox" name="judging" value="Judges" checked required>
                            <label for="show_status">Judges</label>
                        </div>
                        <div>
                            <input type="checkbox" name="judging" value="Audience">
                            <label for="show_status">Audience</label>
                        </div>
                    </div>
                    <div class="configs" style="display: none;">
                        <h3>Assign roles</h3>
                        <div>
                            <div class="assigned">
                                <p>tomitaiwo10@gmail.com</p>
                                <select id="show_roles">
                                    <option value="speaker">speaker</option>
                                    <option value="judge">judge</option>
                                    <option value="admin">admin</option>
                                    <option value="audience">audience</option>
                                </select>
                                <button>x</button>
                            </div>
                        </div>
                    </div>
                    <div class="configs">
                        <h3>Add background music</h3>
                        <div>
                            <label for="show_status">
                                <input type="file" name="background-music" accept="audio/mp3, audio/oog">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>

        </div>
    </section>
    <nav>
        <div class="startvideo">
            <button class="mute_aud" id="Start_video">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="596.000000pt" height="418.000000pt" viewBox="0 0 596.000000 418.000000" preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(0.000000,418.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                    <path d="M887 4020 c-108 -34 -171 -96 -304 -295 -319 -478 -485 -1027 -485 -1605 -1 -503 135 -1018 376 -1433 80 -138 188 -295 250 -364 130 -145 324 -158 461 -32 26 24 58 63 73 88 24 40 27 56 27 131 -1 99 -23 154 -104 261 -267 353 -417 778 -447 1264 -11 187 29 504 91 717 70 245 195 496 349 703 108 147 136 246 100 361 -24 78 -105 162 -184 191 -84 31 -136 34 -203 13z"/>
                    <path d="M4925 4030 c-69 -10 -143 -50 -192 -103 -55 -60 -74 -99 -80 -166 -9 -93 12 -163 72 -249 235 -337 326 -523 405 -829 137 -529 79 -1084 -166 -1575 -60 -120 -93 -173 -204 -333 -42 -60 -83 -126 -91 -145 -21 -53 -18 -196 5 -240 37 -70 86 -119 149 -149 165 -81 308 -32 446 152 375 503 571 1094 571 1727 0 555 -161 1108 -451 1551 -103 157 -179 255 -228 292 -40 30 -155 79 -178 76 -4 -1 -31 -5 -58 -9z"/>
                    <path d="M1837 3390 c-110 -28 -192 -102 -318 -289 -117 -174 -193 -341 -245 -539 -88 -339 -76 -662 36 -1002 94 -289 312 -616 457 -686 82 -40 184 -41 264 -1 113 55 183 162 182 277 -1 95 -25 152 -115 270 -188 249 -270 521 -240 803 26 238 98 416 244 599 121 152 143 270 77 401 -62 120 -219 197 -342 167z"/>
                    <path d="M3971 3389 c-89 -17 -182 -95 -224 -188 -15 -33 -21 -66 -21 -116 0 -87 20 -134 106 -247 93 -122 125 -176 168 -283 134 -326 106 -725 -69 -1012 -26 -43 -78 -117 -114 -166 -100 -132 -119 -226 -68 -341 26 -60 95 -132 156 -164 42 -23 62 -27 130 -26 137 1 205 47 343 233 305 411 413 936 296 1441 -60 258 -180 504 -346 703 -26 32 -48 62 -48 67 0 17 -109 80 -165 95 -65 16 -79 17 -144 4z"/>
                    <path d="M2892 2669 c-193 -33 -339 -134 -414 -290 -46 -95 -62 -164 -62 -264 3 -314 241 -550 554 -549 97 1 167 17 260 62 323 157 394 622 136 887 -109 111 -321 180 -474 154z"/>
                    </g>
                </svg>                      
                <small>Start Video</small>    
            </button>
            <div class="mute">
                <button class="mute_aud" id="mute_aud">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7L472.1 344.7c15.2-26 23.9-56.3 23.9-88.7V216c0-13.3-10.7-24-24-24s-24 10.7-24 24v40c0 21.2-5.1 41.1-14.2 58.7L416 300.8V96c0-53-43-96-96-96s-96 43-96 96v54.3L38.8 5.1zM344 430.4c20.4-2.8 39.7-9.1 57.3-18.2l-43.1-33.9C346.1 382 333.3 384 320 384c-70.7 0-128-57.3-128-128v-8.7L144.7 210c-.5 1.9-.7 3.9-.7 6v40c0 89.1 66.2 162.7 152 174.4V464H248c-13.3 0-24 10.7-24 24s10.7 24 24 24h72 72c13.3 0 24-10.7 24-24s-10.7-24-24-24H344V430.4z"/></svg>                    
                    <small>Mute audio</small>    
                </button>
                <button class="mute_vid" id="mute_vid">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M38.8 5.1C28.4-3.1 13.3-1.2 5.1 9.2S-1.2 34.7 9.2 42.9l592 464c10.4 8.2 25.5 6.3 33.7-4.1s6.3-25.5-4.1-33.7l-86.4-67.7 13.8 9.2c9.8 6.5 22.4 7.2 32.9 1.6s16.9-16.4 16.9-28.2V128c0-11.8-6.5-22.6-16.9-28.2s-23-5-32.9 1.6l-96 64L448 174.9V192 320v5.8l-32-25.1V128c0-35.3-28.7-64-64-64H113.9L38.8 5.1zM32 128V384c0 35.3 28.7 64 64 64H352c23.4 0 43.9-12.6 55-31.3L32.3 121.5c-.2 2.1-.3 4.3-.3 6.5z"/></svg>                    
                    <small>Mute video</small>    
                </button>
            </div>
        </div>
        <button class="people" id="people">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M144 160c-44.2 0-80-35.8-80-80S99.8 0 144 0s80 35.8 80 80s-35.8 80-80 80zm368 0c-44.2 0-80-35.8-80-80s35.8-80 80-80s80 35.8 80 80s-35.8 80-80 80zM0 298.7C0 239.8 47.8 192 106.7 192h42.7c15.9 0 31 3.5 44.6 9.7c-1.3 7.2-1.9 14.7-1.9 22.3c0 38.2 16.8 72.5 43.3 96c-.2 0-.4 0-.7 0H21.3C9.6 320 0 310.4 0 298.7zM405.3 320c-.2 0-.4 0-.7 0c26.6-23.5 43.3-57.8 43.3-96c0-7.6-.7-15-1.9-22.3c13.6-6.3 28.7-9.7 44.6-9.7h42.7C592.2 192 640 239.8 640 298.7c0 11.8-9.6 21.3-21.3 21.3H405.3zM416 224c0 53-43 96-96 96s-96-43-96-96s43-96 96-96s96 43 96 96zM128 485.3C128 411.7 187.7 352 261.3 352H378.7C452.3 352 512 411.7 512 485.3c0 14.7-11.9 26.7-26.7 26.7H154.7c-14.7 0-26.7-11.9-26.7-26.7z"/></svg>            <small>PARTICIPANTS</small>    
        </button>
        <button class="otherbtn" id="other">
            <!-- <i class="fa-solid fa-grip-dots"></i> -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 512"><path d="M64 360c30.9 0 56 25.1 56 56s-25.1 56-56 56s-56-25.1-56-56s25.1-56 56-56zm0-160c30.9 0 56 25.1 56 56s-25.1 56-56 56s-56-25.1-56-56s25.1-56 56-56zM120 96c0 30.9-25.1 56-56 56S8 126.9 8 96S33.1 40 64 40s56 25.1 56 56z"/></svg>
            <small>OTHER</small>    
        </button>  
    </nav>
    <footer>
        &copy; 2022 Copyright: Emmanuel.com
    </footer>
</body>
</html>